/* Модальный (фон) */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed; /* Оставаться на месте */
    z-index: 2; /* Сидеть на вершине */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    overflow: auto; /* Включите прокрутку, если это необходимо */
    background-color: rgb(0,0,0); /* Цвет запасной вариант */
    background-color: rgba(0,0,0,0.4); /* Черный с непрозрачностью */
  }
  
  /* Модальное содержание/коробка */
  .modal-content {
    position: fixed;
    top: 100%;
    transition: 1s;
    font-family: "Fira Sans Condensed", sans-serif;
    background-color: #fefefe;
    border-radius: 20px 0;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Может быть больше или меньше, в зависимости от размера экрана */
    height: 79%;
  }
  

  /* Кнопка закрытия */
  .close {
    display: flex;
    align-items: center;
    color: #000000;
    background-color: #fefefe;
    height: 50px;
    border-radius: 100px;
    padding: 10px;
    margin: 20px;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: 1.5s;
  }
  
  .close:hover,
  .close:focus {
    color: #ffffff;
    background-color: #000000;
    padding: 0px 15px;
    text-decoration: none;
    cursor: pointer;

    transition: 1.5s;
  }

.SmtForm{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
}

.SmtFormBox{
  display: flex;
  justify-content: space-around;
}
.SmtFormMiniBox{
  display: flex;
  justify-content: space-between;
}
.SmtFormMiniBox input{
  width: 50%;
}

.SmtForm input{
  height: 45px;
  margin-top: 5px;
  font-size: 20px;
}
.SmtForm input::placeholder{
  font-size: 13px;
}

/* Верхний блок */
.SmtFormContacts{
  display: flex;
  flex-direction: column;
}
.SmtFormContacts {
  width: 45%;
}

.SmtFormPerformance{
  width: 45%;
  display: flex;
  flex-direction: column;
}

/* Нижний блок */
.SmtFormMiniBoxQR{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45%;
}
.SmtFormLevelProduct{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.SmtFormLevelProduct input{
  width: 20px;
  height: 20px;
}
.SmtFormLevelProduct label{
  display: flex;
  align-items: center;
}
.SmtFormLevelProduct label h4{
  margin-left: 10px;
}
.checkbox{
  cursor: pointer;
}

.SmtFormDescripteon{
  width: 45%;
  display: flex;
  flex-direction: column;
}
.SmtFormDescripteon textarea{
  height: 100%;
  resize: none; 
}


.SmtFormButton{
  display: flex;
  justify-content: end;
  width: 98%;
}
/* Добавляем классы для стилизации полей */
.required-field {
  border: 1px solid #ccc;
  padding: 2px;
  margin-bottom: 2px;
}

.required-field:focus {
  outline: none;
  border-color: #007bff;
}

.SmtFormButton button {
  cursor: pointer;
  border: 1px solid transparent;
  height: 50px;
  width: 200px;
  color: #fefefe;
  border-radius: 0 15px;
  transition: 1.5s;
}
.Disabl button {
  background-color: #888;
}
.Activ button{
  background-color: #3f62ff;
}

.SmtFormButton button:hover,
.SmtFormButton button:focus {
  opacity: 1;
  border-radius: 15px 0;
  transition: 1.5s;
}

/* Проверка заполненности форм */
.form-valid {
  border: 2px solid green;
}

.form-invalid {
  border: 2px solid red;
}


@media screen and (max-width: 1600px){
  .modal-content {
    margin: 0.4% auto;
    height: 98%;
  }
}

@media screen and (max-width: 500px) {

  .modal-content{
    width: 100%;
  }
  .SmtFormMiniBoxQR img{
    display: none;
  }

  .SmtFormBox h3{
    font-size: 14px;
  }

  .SmtFormBox h4{
    font-size: 10px;
  }

  .close {
    z-index: 3;
    position: relative;
    height: 30px;
    margin:10px;
    padding: 10;
  }
  .close:hover,
  .close:focus {
    color: #ffffff;
    background-color: #000000;
    padding: 0;
    text-decoration: none;
    cursor: pointer;

    transition: 1.5s;
  }
}

