/* Основные стили для .modalContacts */
.modalContacts {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* Стили для .modalContacts-content */
.modalContacts-content {
    position: fixed;
    left: 100%;
    width: 40%; /* Увеличьте ширину для более плавного эффекта */
    transition:  1s;
    font-family: "Fira Sans Condensed", sans-serif;
    background-color: #fefefe;
    border-radius:0 20px 20px 0px;
    padding: 20px;
    border: 1px solid #888;
    height: 100%;
}

.modalContacts-content h3{
    font-size: 25px;
}

.modalContacts-content-info{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30%;
}
.modalContacts-content-info a{
    text-decoration: none;
}
.modalContacts-content-info li{
    padding-top: 2px;
    list-style: none;
}

.modalContacts-content-masenger{
    padding-top: 30px;
}
.modalContacts-content-masenge-img img{
    width: 50px;
    height: 50px;
}
.closeContacts {
    display: flex;
    align-items: center;
    color: #000000;
    background-color: #fefefe;
    height: 50px;
    border-radius: 100px;
    padding: 10px;
    margin: 20px;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: 1.5s;
  }
  
  .closeContacts:hover,
  .closeContacts:focus {
    color: #ffffff;
    background-color: #000000;
    padding: 0px 15px;
    text-decoration: none;
    cursor: pointer;

    transition: 1.5s;
  }

  @media screen and (max-width: 500px) {
    .modalContacts-content{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 70%;
    }
    .modalContacts-content h3{
        font-size: 12px;
    }

  }