*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

body{
    background-color: azure;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
  }
  .container-fluid{
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #FFF;
  }
  /* ============= Animation background ========= */
  .background {
    background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding:0;
    margin:0px;
  }
  .cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #D7D4E4;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;
  }
  .cube:nth-child(2n) {
    border-color: #FFF ;
  }
  .cube:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
  }
  .cube:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
  }
  .cube:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
  }
  .cube:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
  }
  .cube:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
  }
  /* ================= Header ============ */
  header{
    position: absolute;
    top:0%;
    left: 0%;
    width:100%;
    margin: 0;
    padding: 0;
  }
  /* navbar */
  nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: #FFF;
    padding-top: 38px;
  }
  nav ul{
    width: 400px;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    transition: border-radius 1s;
  }
  nav ul li a{
    padding: 10px;
    text-decoration: none;
    color: #EFEEF5;
    transition: .5;
    font-size: 15px;
  }
  nav ul li:hover a{
    text-decoration: none;
    color: #591BC5;;
  }
  nav ul li:hover{
    border-radius: 10px 0 10px 0;
    transition: border-radius 1s;
    background: #EFEEF5;
    text-decoration: none;
  }
  /* Logo */
  .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    background: #EFEEF5;
    border-radius: 10px 0 10px 0;
    float: left;
    transform: rotate(-15deg);
  }
  .logo span{
    color: #591BC5;
    font-size: 2em;
    line-height: 1.4;
    padding: 5px;
    font-weight: bold;
  }
  /* Header content & title & button*/
  .header-content{
    margin-top:15%;
    text-align: center;
    color:  #EFEEF5;
    font-family: "Fira Sans Condensed", sans-serif;
  }
  .header-content h1{
 
      font-family: "Fira Sans Condensed", sans-serif;
      font-weight: 800;
      font-style: normal;
    
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 1px;
  }
  .header-content p {
    font-size: 20px;
    line-height: 1.5;
    margin: 20px auto;
  }
  .header-content button{
    font-family: "Fira Sans Condensed", sans-serif;
    width: 140px;
    margin:20px 10px;
    color: #591BC5;
    font-size: 17px;
    border:1px solid #EFEEF5;
    font-weight: 500;
    background: #EFEEF5;
    border-radius: 15px 0 15px 0;
    padding: 10px;
    cursor:pointer;
    transition: border-radius 1s;
  }
  .header-content button:hover{
    border-radius: 0 15px 0 15px ;
    transition: 1s;
  }
  /* Animate Background*/
  @keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes cube {
    from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }
    to {
      transform: scale(20) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
    }
  }

@media screen and (max-width: 760px){
    nav ul{
        width: auto;
    }
    .logo{
        font-size: 10px;
        height: 30px;
    }
}